{% extends 'base.html.twig' %}

{% block title %}SnapCode™ | Développement personnalisé {% endblock %}

{% block body %}
      <!-- banner starts -->
      <div class="banner d-flex align-items-center light-grey-bg">

        <!-- Breadcrumb starts -->
        <nav class="breadcrumb-wrapper" aria-label="breadcrumb">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{path('app_home')}}">Accueil</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Développement de site web personnalisé</li>
                </ol>
            </div>
        </nav>


        <div class="container">
            <div class="row no-gutters align-items-center">
                <div class="col-lg-6 text-center text-lg-left">
                    <h1>Développement de site web personnalisé</h1>
                    <p class="larger-txt">
                        Donnez vie à votre vision en ligne avec notre expertise en développement de sites web sur mesure, pour une présence digitale qui vous ressemble.
                    </p>

                </div>
                <!-- End of .col-lg-5 -->

                <div class="col-lg-6">
                    <div class="img-container text-center text-lg-right">
                        <img src="assets/images/banner/website-design-banner.png" alt="Banner image" class="img-fluid">
                    </div>
                    <!-- End of .img-container -->
                </div>
                <!-- End of .col-lg-7 -->
            </div>
            <!-- End of .row -->
        </div>
        <!-- End of .container -->
    </div>
    <!-- End of .banner -->

    <!-- our features starts -->
    <section class="features section-gap" id="cynic-about" data-scroll-offset="165">
        <div class="container">


            <div class="features-grid">
                <div class="row align-items-center">
                    <div class="col-lg-5 text-center text-lg-left">
                        <div class="img-container">
                            <img src="assets/images/features/features-img-4.jpg" alt="Fast HTML Integration"
                                class="img-fluid">

                        </div>
                        <!-- End of .img-container -->
                    </div>
                    <!-- End of .col-lg-6 -->

                    <div class="col-lg-6 offset-lg-1">
                        <div class="features-content">
                            <h2 class="section-title">Création d'une Identité en Ligne Unique</h2>
                            <p>
                                Nos clients cherchent à se démarquer dans un paysage en ligne saturé, et en choisissant ce service, 
                                ils optent pour une solution qui alignera leur site web sur leur identité et leur vision uniques.  <br>
                                La personnalisation approfondie, depuis le design jusqu'aux fonctionnalités, garantit que le site web 
                                reflète fidèlement l'essence de l'entreprise ou de la marque. Une fois qu'ils ont choisi ce service, 
                                les clients bénéficieront d'une présence en ligne qui capture leur singularité, 
                                créant ainsi une connexion plus profonde avec leur audience cible.
                            </p>
                            <!--<ul class="feature-list">
                                <li><i class="far fa-tablet"></i>One design for your desktop, tab and mobile.</li>
                                <li><i class="far fa-laptop"></i>Beautiful and modern design that makes difference.</li>
                                <li><i class="far fa-desktop-alt"></i>Boost your sales with strategically built user
                                    experience.</li>
                            </ul>-->
                            <!-- End of .feature-list -->

                        </div>
                        <!-- End of .features-content -->
                    </div>
                    <!-- End of .col-lg-6 -->
                </div>
                <!-- End of .row -->
            </div>
            <!-- End of .features-grid -->


        </div>
        <!-- End of .container -->
    </section>
    <!-- End of .features -->

    <!-- Process starts -->
    <section class="our-process section-gap light-grey-bg">
        <div class="container">
            <h2 class="section-title text-center">Notre processus</h2>
            <p class="larger-txt text-center">
                Voici notre processus de développement de site web complet. 
                Nous vous communiquons avec transparence la manière dont nous travaillons.
                Le but est que vous puissiez vous rendre compte de la manière dont vos projets sont traités. <br>
                Selon nous, il s'agit de la méthode la plus rapide et efficace pour mener à bien le projet.
            </p>

            <div class="process-tab-container grid-wrapper">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="nav nav-pills">

                            <a class="nav-link active" data-toggle="pill" href="#process-tab-1">
                                <span>01</span>
                                Consultation Initiale
                                <i class="fal fa-long-arrow-right"></i>
                            </a>

                            <a class="nav-link " data-toggle="pill" href="#process-tab-2">
                                <span>02</span>
                                Analyse et Personnalisation
                                <i class="fal fa-long-arrow-right"></i>
                            </a>

                            <a class="nav-link " data-toggle="pill" href="#process-tab-3">
                                <span>03</span>
                                Présentation et Feedback
                                <i class="fal fa-long-arrow-right"></i>
                            </a>

                            <a class="nav-link " data-toggle="pill" href="#process-tab-4">
                                <span>04</span>
                                Itérations Rapides
                                <i class="fal fa-long-arrow-right"></i>
                            </a>

                            <a class="nav-link " data-toggle="pill" href="#process-tab-5">
                                <span>05</span>
                                Tests Approfondis
                                <i class="fal fa-long-arrow-right"></i>
                            </a>

                            <a class="nav-link " data-toggle="pill" href="#process-tab-6">
                                <span>06</span>
                                Livraison Personnalisée
                                <i class="fal fa-long-arrow-right"></i>
                            </a>

                            <a class="nav-link " data-toggle="pill" href="#process-tab-7">
                                <span>07</span>
                                Support Post-livraison
                                <i class="fal fa-long-arrow-right"></i>
                            </a>

                        </div>
                    </div>
                    <!-- End of .col -->

                    <div class="col-lg-7">
                        <div class="tab-content">

                            <div class="tab-pane fade show active" id="process-tab-1">
                                <div class="img-card process-card">
                                    <img src="assets/images/process-img/process-img-1.png" alt="..." class="img-fluid">
                                    <div class="process-card-content">
                                        <h3>Consultation Initiale</h3>
                                        <p>
                                            Lors de notre première consultation, nous collaborons étroitement avec vous pour comprendre vos objectifs, vos valeurs, 
                                            et le message que vous souhaitez transmettre. </p>
                                            
                                        </p>Si vous avez déjà des maquettes de site, nous les analysons attentivement. 
                                            Sinon, nous vous présentons des exemples inspirants basés sur des templates de site pour stimuler la discussion.
                                        </p>
                                    </div>
                                </div>
                                <!-- undefined -->
                            </div>

                            <div class="tab-pane fade " id="process-tab-2">
                                <div class="img-card process-card">
                                    <img src="assets/images/process-img/process-img-2.png" alt="..." class="img-fluid">
                                    <div class="process-card-content">
                                        <h3>Analyse et Personnalisation</h3>
                                        <p>
                                            Nous procédons à une analyse approfondie de vos besoins et des exemples présentés.
                                        </p> <br>

                                        <p>
                                            À partir de là, notre équipe d'experts personnalise chaque aspect du site, que ce soit le design, les fonctionnalités, ou la structure, pour correspondre parfaitement à votre vision.
                                        </p>

                                    </div>
                                </div>
                                <!-- undefined -->
                            </div>

                            <div class="tab-pane fade " id="process-tab-3">
                                <div class="img-card process-card">
                                    <img src="assets/images/process-img/process-img-3.png" alt="..." class="img-fluid">
                                    <div class="process-card-content">
                                        <h3>Présentation et Feedback</h3>
                                        <p>
                                            Nous vous présentons une version initiale du site, basée sur les discussions précédentes. Vous avez l'opportunité de fournir des retours détaillés, et si vous avez des maquettes spécifiques, nous les intégrons de manière à aligner parfaitement le site sur vos attentes.
                                        </p>
                                    </div>
                                </div>
                                <!-- undefined -->
                            </div>

                            <div class="tab-pane fade " id="process-tab-4">
                                <div class="img-card process-card">
                                    <img src="assets/images/process-img/process-img-1.png" alt="..." class="img-fluid">
                                    <div class="process-card-content">
                                        <h3>Itérations Rapides</h3>
                                        <p> Nous adoptons une approche agile, permettant des itérations rapides en réponse à vos retours. Cela garantit que le site évolue en fonction de vos préférences, et nous restons flexibles pour incorporer des ajustements à tout moment du processus.</p>
                                    </div>
                                </div>
                                <!-- undefined -->
                            </div>

                            <div class="tab-pane fade " id="process-tab-5">
                                <div class="img-card process-card">
                                    <img src="assets/images/process-img/process-img-2.png" alt="..." class="img-fluid">
                                    <div class="process-card-content">
                                        <h3>Tests Approfondis</h3>
                                        <p>Avant la livraison finale, chaque fonctionnalité est testée rigoureusement pour assurer un fonctionnement optimal sur tous les navigateurs et appareils. Nous veillons à ce que le site réponde aux normes de performance élevées que nous nous sommes fixées.</p>
                                    </div>
                                </div>
                                <!-- undefined -->
                            </div>

                            <div class="tab-pane fade " id="process-tab-6">
                                <div class="img-card process-card">
                                    <img src="assets/images/process-img/process-img-2.png" alt="..." class="img-fluid">
                                    <div class="process-card-content">
                                        <h3>Livraison Personnalisée</h3>
                                        <p>Une fois que tous les ajustements ont été effectués et que vous êtes entièrement satisfait, nous procédons à la livraison du site personnalisé. Il est prêt à être déployé, reflétant fidèlement votre identité en ligne unique.</p>
                                    </div>
                                </div>
                                <!-- undefined -->
                            </div>

                            <div class="tab-pane fade " id="process-tab-7">
                                <div class="img-card process-card">
                                    <img src="assets/images/process-img/process-img-3.png" alt="..." class="img-fluid">
                                    <div class="process-card-content">
                                        <h3>Support Continu</h3>
                                        <p>Même après la livraison, notre engagement envers votre satisfaction persiste. Nous offrons un support continu pour résoudre tout problème éventuel et apporter des ajustements supplémentaires au besoin.</p>
                                    </div>
                                </div>
                                <!-- undefined -->
                            </div>

                        </div>
                    </div>
                    <!-- End of .col -->
                </div>
                <!-- End of .row -->
                <p class="text-center">Avec notre processus de développement de site web personnalisé, vous êtes assuré de recevoir un site web personnalisé qui répond à vos exigences spécifiques tout en garantissant une expérience fluide et transparente à chaque étape. Faites confiance à notre expertise pour obtenir des résultats exceptionnels, rapidement et efficacement.</p>
            </div>
            <!-- End of .process-tab-container -->
        </div>
        <!-- End of .container -->
    </section>
    <!-- End of .process -->


    <!-- Projects starts -->
    <section class="projects section-gap " id="cynic-projects" data-scroll-offset="75">
        <div class="container">
            <h2 class="section-title text-center">Projets réalisés</h2>

            <div class="item-showcase grid-wrapper__small-padding">



                <div class="row ">

                    <div class="col-lg-4 col-md-6 ">
                        <a href="{{path('portfolio')}}" class="img-card text-center portfolio-card white-bg light-grey-bg"
                            data-toggle="modal" data-target="#product-modal-1">
                            <img src="assets/images/products/project-client-3.png" alt="product" class="img-fluid">
                            <h4>
                                <span>VoyageurPlus - La Planification facile</span>Développement de site personnalisé</h4>
                        </a>
                        <!-- End of .img-card -->
                    </div>
                    <!-- End of .col-lg-4 -->

                    <div class="col-lg-4 col-md-6 ">
                        <a href="{{path('portfolio')}}" class="img-card text-center portfolio-card white-bg light-grey-bg"
                            data-toggle="modal" data-target="#product-modal-2">
                            <img src="assets/images/products/project-client-1.png" alt="product" class="img-fluid">
                            <h4>
                                <span>Site web responsive design</span>Développement de site personnalisé</h4>
                        </a>
                        <!-- End of .img-card -->
                    </div>
                    <!-- End of .col-lg-4 -->

                    <div class="col-lg-4 col-md-6 ">
                        <a href="{{path('portfolio')}}" class="img-card text-center portfolio-card white-bg light-grey-bg"
                            data-toggle="modal" data-target="#product-modal-3">
                            <img src="assets/images/products/project-client-3-2.png" alt="product" class="img-fluid">
                            <h4>
                                <span>Plateforme de Streaming</span>Développement de site personnalisé</h4>
                        </a>
                        <!-- End of .img-card -->
                    </div>
                    <!-- End of .col-lg-4 -->

                    <div class="col-lg-4 col-md-6 ">
                        <a href="{{path('portfolio')}}" class="img-card text-center portfolio-card white-bg light-grey-bg"
                            data-toggle="modal" data-target="#product-modal-4">
                            <img src="assets/images/products/project-client-6.png" alt="product" class="img-fluid">
                            <h4>
                                <span>Site de Consultation de Cryptomonnaie</span>Développement de site personnalisé</h4>
                        </a>
                        <!-- End of .img-card -->
                    </div>
                    <!-- End of .col-lg-4 -->

                </div>
                <div class="col-12 text-center"><a href="{{path('portfolio')}}" class="custom-btn secondary-btn">Découvrez nos autres projets</a></div>
                <!-- End of .row -->
            </div>
            <!-- End of .project-showcase -->
        </div>
        <!-- End of .container -->
    </section>
    <!-- End of .projects -->

    <!-- Section latest-news starts  Rendez vous Start -->
    <section class="newsletter section-gap newsletter__white">
        <div class="container">
            <h2 class="text-center">Intéressé par nos services ?
                Réservez votre appel avec un expert.</h2>
                <div class="d-flex justify-content-center flex-column text-center">
                    <p class="font-weight-bold mb-3">Si vous êtes intéressé par nos services, réservez votre appel dès aujourd'hui avec un de nos experts.<br> Cet appel est parfait si vous :</p>
                    <ul class="text-black">
                        <li>Vous avez pour objectif de de vous créer ou d'optimiser votre présence sur internet via un portfolio, un site web one-page, multipage etc.</li>
                        <li>Vous êtes une petite/moyenne entreprise locale et vous pensez que vous devriez avoir une présence plus importante sur internet pour votre activité.</li>
                        <li>Ou encore, vous êtes une entreprise déjà établie, une agence et vous rencontrez des soucis de délivrabilité sur le développement de pages web spécifiques.</li>
                    </ul>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-center">
                            <!-- Début de widget de lien Calendly -->
                                <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
                                <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
                                <a href="" class="custom-btn secondary-btn" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/ngoyi-jeremie-pro/appel-d-information-jeremiecode-1er-contact?hide_gdpr_banner=1'});return false;">Prendre un RDV</a>
                            <!-- Fin de widget de lien Calendly -->
                        </div>
                    </div>
                  </div>
            <!--<form action="#" class="newsletter-form" method="POST">
                <div class="row justify-content-between">
                    <div class="col-md">
                        <input type="text" name="fname" placeholder="Nom">
                    </div>
                    <div class="col-md">
                        <input type="text" name="email" placeholder="Email">
                    </div>

                    <div class="col-md-auto">
                        <a href="#" class="custom-btn secondary-btn">Prendre un RDV</a>
                    </div>
                </div>
            </form>-->
                <!-- End of .newsletter-form -->

            <!-- <div class="social-icons-wrapper d-flex justify-content-center">
                <p>Suivez nous:</p>
                <ul class="social-icons">
                    <li>
                        <a href="http://www.facebook.com/" target="_blank" rel="noopener">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://twitter.com/" target="_blank" rel="noopener">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://youtube.com/" target="_blank" rel="noopener">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://plus.google.com/discover" target="_blank" rel="noopener">
                            <i class="fab fa-google-plus-g"></i>
                        </a>
                    </li>
                </ul>
                
            </div> --> 
                <!-- End of .social-icons -->

            <!-- End of .social-icons-wrapper -->
        </div>
        <!-- End of .container -->
    </section>
    <!-- End of .latest-news End of .rendez vous -->

    <!-- Product Modal Starts -->
    <div class="modal fade full-width-modal product-modal" id="product-modal-1" tabindex="-1" role="dialog"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                    <!-- End of .close -->
                </div>
                <!-- End of .modal-header -->

                <div class="modal-body">
                    <div class="row no-gutters">
                        <div class="col-lg-6">
                            <div class="modal-img text-center">
                                <img src="assets/images/products/portfolio-modal-3.png" alt="product-modal"
                                    class="img-fluid no-height">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="modal-body__inner-content">
                                <h4>
                                    <span>Projet interne : Développement de site web avec connexion à une IA</span>
                                    Développement de site personnalisé
                                </h4>
                                <p>Au cœur de notre structure, nous avons développé un site web interne révolutionnaire, 
                                    propulsé par l'intelligence artificielle, pour planifier des voyages de manière ultra personnalisés. 
                                    Chaque détail de ce site a été conçu pour offrir une expérience unique, 
                                    utilisant des algorithmes avancés pour anticiper les préférences individuelles et créer des itinéraires sur mesure.</p>

                                <p>Notre innovation repose sur l'utilisation intelligente de l'intelligence artificielle, 
                                    permettant à nos équipes internes de concevoir des expériences de voyage inégalées. <br>
                                    Ce site interne offre une approche révolutionnaire pour la planification de voyages, 
                                    intégrant des recommandations personnalisées, des itinéraires adaptés, et une gestion fluide, 
                                    élevant ainsi notre capacité à fournir des solutions de voyage exceptionnelles à nos clients. <br>
                                Enfin en ce qui concerne le design, observez que l'UX est construit de façon très simple. En effet le but ici, n'est pas de poussé le style, mais plutôt ce que concentrer sur l'ensemble des fonctionnalités complexes et novatrices.</p>
                                    <p>Ce site web est en ce moment en développement par nos équipes.</p>
                                <a href="http://voyageur-plus-2379e477b00c.herokuapp.com" class="hyperlink">Voir le site web</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of .modal-body -->
            </div>
            <!-- End of .modal-content -->
        </div>
        <!-- End of .modal-dialog -->
    </div>
    <!-- End of .portfolio-modal -->

    <!-- Product Modal Starts -->
    <div class="modal fade full-width-modal product-modal" id="product-modal-2" tabindex="-1" role="dialog"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                    <!-- End of .close -->
                </div>
                <!-- End of .modal-header -->

                <div class="modal-body">
                    <div class="row no-gutters">
                        <div class="col-lg-6">
                            <div class="modal-img text-center">
                                <img src="assets/images/products/portfolio-modal-1.png" alt="product-modal"
                                    class="img-fluid">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="modal-body__inner-content">
                                <h4>
                                    <span>Développement de site personnalisé (Focus Responsive Design)</span>
                                    Site web : Agence de développement web
                                </h4>
                                <p>Pour notre client, une petite agence de web marketing dynamique, nous avons conçu un site web sur mesure qui incarne son expertise distincte dans le domaine. Chaque élément, de la disposition visuelle aux fonctionnalités interactives, a été minutieusement élaboré pour refléter l'énergie innovante de l'agence et mettre en avant ses services de marketing digital.</p>

                                <p>Notre approche sur mesure a permis de créer une plateforme en ligne qui va au-delà de la simple présentation, offrant une expérience immersive pour les visiteurs. Le site incarne la philosophie de l'agence, captivant instantanément l'audience tout en fournissant des informations claires sur les services proposés. Une vitrine digitale qui renforce la crédibilité de notre client et génère un impact significatif dans le monde en ligne.</p>
                                    <p>Le client tient à garder 100% de visibilité sur la clarté de son traffic. Ainsi le lien vers la page est un mirroir, et non le site final.</p>
                                <a href="https://the-homepage-challenge.netlify.app" class="hyperlink">Voir le site web</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of .modal-body -->
            </div>
            <!-- End of .modal-content -->
        </div>
        <!-- End of .modal-dialog -->
    </div>
    <!-- End of .portfolio-modal -->

    <!-- Product Modal Starts -->
    <div class="modal fade full-width-modal product-modal" id="product-modal-3" tabindex="-1" role="dialog"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                    <!-- End of .close -->
                </div>
                <!-- End of .modal-header -->

                <div class="modal-body">
                    <div class="row no-gutters">
                        <div class="col-lg-6">
                            <div class="modal-img text-center">
                                <img src="assets/images/products/portfolio-modal-3-2.png" alt="product-modal"
                                    class="img-fluid no-height">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="modal-body__inner-content">
                                <h4>
                                    <span>Développement de site web personnalisé</span>
                                    Plateforme de Streaming
                                </h4>
                                <p>
                                    Pour notre client passionné de cinéma indépendant et d'animations, 
                                    nous avons créé un site web de streaming exceptionnel. <br>
                                    Spécialisé dans la diffusion de séries et de films produits par des indépendants dans des niches 
                                    spécifiques, ce site offre une expérience immersive unique, mettant en lumière des contenus exclusifs
                                    et captivants.</p>

                                <p>
                                    Notre équipe a conçu une plateforme conviviale, permettant aux utilisateurs de découvrir des œuvres
                                    cinématographiques authentiques et peu explorées. 
                                    Avec des fonctionnalités de recherche avancées et une interface intuitive, 
                                    ce site de streaming incarne l'engagement de notre client envers la diversité et l'originalité du 
                                    cinéma indépendant, offrant aux spectateurs une expérience inégalée.
                                </p>
                                <p>Le client tient à garder 100% de visibilité sur la clarté de son traffic. Ainsi le lien vers la page n'est pas disponible.</p>
                                <!--<a href="#" class="hyperlink">Voir le site web</a>-->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of .modal-body -->
            </div>
            <!-- End of .modal-content -->
        </div>
        <!-- End of .modal-dialog -->
    </div>
    <!-- End of .portfolio-modal -->

    <!-- Product Modal Starts -->
    <div class="modal fade full-width-modal product-modal" id="product-modal-4" tabindex="-1" role="dialog"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                    <!-- End of .close -->
                </div>
                <!-- End of .modal-header -->

                <div class="modal-body">
                    <div class="row no-gutters">
                        <div class="col-lg-6">
                            <div class="modal-img text-center">
                                <img src="assets/images/products/portfolio-modal-6.png" alt="product-modal"
                                    class="img-fluid no-height">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="modal-body__inner-content">
                                <h4>
                                    <span>Développement de site web personnalisé</span>
                                    Site de Consultation de Cryptomonnaie
                                </h4>
                                <p>
                                    Face à la demande croissante d'informations fiables sur les cryptomonnaies, notre client cherchait un site web informatif et intuitif. Nous avons relevé le défi en créant un site dynamique offrant des analyses en temps réel, des guides détaillés et des actualités et un panneau de visualisations des devises selectionnées du monde des cryptomonnaies, répondant ainsi aux attentes d'une audience avide d'informations précises.</p>

                                <p>
                                    Pour garantir une expérience utilisateur optimale, nous avons intégré des outils de visualisation de données en temps réel et des fonctionnalités interactives. Ce site sur les cryptomonnaies offre non seulement des informations claires et concises, mais également une plateforme engageante pour tous les passionnés et investisseurs. Notre approche centrée sur l'utilisateur et notre utilisation astucieuse de la technologie font de ce site un incontournable pour ceux qui souhaitent rester informés dans le monde en constante évolution des cryptomonnaies.
                                </p>
                                <p>Le client tient à préserver son anonymat et celui de son projet pour le moment. Ainsi le lien vers la page n'est qu'une maquette d'une des page du site final.</p>
                                <a href="https://mockup-in-vuejs.netlify.app" class="hyperlink">Voir le site web</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of .modal-body -->
            </div>
            <!-- End of .modal-content -->
        </div>
        <!-- End of .modal-dialog -->
    </div>
    <!-- End of .portfolio-modal -->

<!-- Quote modal starts
    ================================= -->
    <div class="modal fade full-width-modal quote-modal" id="quote-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content white-bg">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                    <!-- End of .close -->
                </div>
                <!-- End of .modal-header -->
    
                <div class="modal-body d-flex align-items-center justify-content-center text-center">
                    <div class="quote-form-wrapper text-center">
                        <h3>Nous contacter</h3>
                        <form method="POST" class="quote-form text-center row" action="#">
                            <div class="col-lg-6">
                                <input type="text" name="fname" placeholder="Nom">
                            </div>
                            <div class="col-lg-6">
                                <input type="text" name="email" placeholder="Email">
                            </div>
    
                            <div class="col-lg-6">
                                <input type="text" name="phone" placeholder="Téléphone">
                            </div>
                            <div class="col-lg-6">
                                <input type="text" name="website" placeholder="Site web">
                            </div>
                            <div class="col-lg-12">
                                <textarea placeholder="Message" name="message"></textarea>
                                <button type="submit" class="custom-btn secondary-btn w-100">Envoyer</button>
                                <div class="social-icons-wrapper d-flex justify-content-center">
                                    <!--<p>Suivez nous:</p>-->
                                    <!--<ul class="social-icons">
                                        <li>
                                            <a href="http://www.facebook.com/" target="_blank" rel="noopener">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://twitter.com/" target="_blank" rel="noopener">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://youtube.com/" target="_blank" rel="noopener">
                                                <i class="fab fa-youtube"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://plus.google.com/discover" target="_blank" rel="noopener">
                                                <i class="fab fa-google-plus-g"></i>
                                            </a>
                                        </li>
                                    </ul> -->
                                    
                                    <!-- End of .social-icons -->
                                </div>
                                <!-- End of .social-icons-wrapper -->
                            </div>
                        </form>
                        <!-- End of .quote-form -->
                    </div>
                    <!-- End of .quote-form-wrapper -->
                </div>
                <!-- End of .modal-body -->
            </div>
            <!-- End of .modal-content -->
        </div>
        <!-- End of .modal-dialog -->
    </div>
    <!-- End of .quote-modal -->
{% endblock %}