<aside id="secondary" class="cs-widget-area cs-sidebar__area">
    <div class="cs-sidebar__inner">
    <div class="widget block-5 widget_block">
        <div class="wp-block-group is-style-cs-about is-layout-constrained wp-block-group-is-layout-constrained">
        <div class="wp-block-group__inner-container">
            <figure class="wp-block-image size-full is-resized cs-display-only-light">
            <img loading="lazy" decoding="async" width="246" height="80" src="{{ asset('blog/assets/logos/logo_snapcode_agency_blog_clear.png') }}" alt="Swyft" class="wp-image-2382" style="object-fit:cover;width:123px;height:40px" />
            </figure>
            <figure class="wp-block-image size-full is-resized cs-display-only-dark">
            <img loading="lazy" decoding="async" width="246" height="80" src="{{ asset('blog/assets/logos/logo_snapcode_agency_blog_dark.png') }}" alt="Swyft" class="wp-image-2384" style="object-fit:cover;width:123px;height:40px" />
            </figure>
            <p class="has-primary-color has-text-color" style="font-size:18px;font-style:normal;font-weight:500">
                Découvrez Snapcode Agency - Le Blog, une plateforme dédiée aux entreprises et entrepreneurs. Notre objectif est de partager des connaissances sur le développement web, d'optimiser votre marketing digital avec des conseils pratiques, des études de cas, et les dernières tendances pour booster votre présence en ligne et améliorer votre site web.
            </p>
            <ul class="wp-block-social-links is-layout-flex wp-block-social-links-is-layout-flex">
            <li class="wp-social-link wp-social-link-facebook  wp-block-social-link">
                <a href="#" title="Facebook" class="wp-block-social-link-anchor">
                <svg width="24" height="24" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
                    <path d="M12 2C6.5 2 2 6.5 2 12c0 5 3.7 9.1 8.4 9.9v-7H7.9V12h2.5V9.8c0-2.5 1.5-3.9 3.8-3.9 1.1 0 2.2.2 2.2.2v2.5h-1.3c-1.2 0-1.6.8-1.6 1.6V12h2.8l-.4 2.9h-2.3v7C18.3 21.1 22 17 22 12c0-5.5-4.5-10-10-10z"></path>
                </svg>
                <span class="wp-block-social-link-label screen-reader-text">Facebook</span>
                </a>
            </li>
            <li class="wp-social-link wp-social-link-twitter  wp-block-social-link">
                <a href="#" title="Twitter" class="wp-block-social-link-anchor">
                <svg width="24" height="24" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
                    <path d="M22.23,5.924c-0.736,0.326-1.527,0.547-2.357,0.646c0.847-0.508,1.498-1.312,1.804-2.27 c-0.793,0.47-1.671,0.812-2.606,0.996C18.324,4.498,17.257,4,16.077,4c-2.266,0-4.103,1.837-4.103,4.103 c0,0.322,0.036,0.635,0.106,0.935C8.67,8.867,5.647,7.234,3.623,4.751C3.27,5.357,3.067,6.062,3.067,6.814 c0,1.424,0.724,2.679,1.825,3.415c-0.673-0.021-1.305-0.206-1.859-0.513c0,0.017,0,0.034,0,0.052c0,1.988,1.414,3.647,3.292,4.023 c-0.344,0.094-0.707,0.144-1.081,0.144c-0.264,0-0.521-0.026-0.772-0.074c0.522,1.63,2.038,2.816,3.833,2.85 c-1.404,1.1-3.174,1.756-5.096,1.756c-0.331,0-0.658-0.019-0.979-0.057c1.816,1.164,3.973,1.843,6.29,1.843 c7.547,0,11.675-6.252,11.675-11.675c0-0.178-0.004-0.355-0.012-0.531C20.985,7.47,21.68,6.747,22.23,5.924z"></path>
                </svg>
                <span class="wp-block-social-link-label screen-reader-text">Twitter</span>
                </a>
            </li>
            <li class="wp-social-link wp-social-link-instagram  wp-block-social-link">
                <a href="#" title="Instagram" class="wp-block-social-link-anchor">
                <svg width="24" height="24" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
                    <path d="M12,4.622c2.403,0,2.688,0.009,3.637,0.052c0.877,0.04,1.354,0.187,1.671,0.31c0.42,0.163,0.72,0.358,1.035,0.673 c0.315,0.315,0.51,0.615,0.673,1.035c0.123,0.317,0.27,0.794,0.31,1.671c0.043,0.949,0.052,1.234,0.052,3.637 s-0.009,2.688-0.052,3.637c-0.04,0.877-0.187,1.354-0.31,1.671c-0.163,0.42-0.358,0.72-0.673,1.035 c-0.315,0.315-0.615,0.51-1.035,0.673c-0.317,0.123-0.794,0.27-1.671,0.31c-0.949,0.043-1.233,0.052-3.637,0.052 s-2.688-0.009-3.637-0.052c-0.877-0.04-1.354-0.187-1.671-0.31c-0.42-0.163-0.72-0.358-1.035-0.673 c-0.315-0.315-0.51-0.615-0.673-1.035c-0.123-0.317-0.27-0.794-0.31-1.671C4.631,14.688,4.622,14.403,4.622,12 s0.009-2.688,0.052-3.637c0.04-0.877,0.187-1.354,0.31-1.671c0.163-0.42,0.358-0.72,0.673-1.035 c0.315-0.315,0.615-0.51,1.035-0.673c0.317-0.123,0.794-0.27,1.671-0.31C9.312,4.631,9.597,4.622,12,4.622 M12,3 C9.556,3,9.249,3.01,8.289,3.054C7.331,3.098,6.677,3.25,6.105,3.472C5.513,3.702,5.011,4.01,4.511,4.511 c-0.5,0.5-0.808,1.002-1.038,1.594C3.25,6.677,3.098,7.331,3.054,8.289C3.01,9.249,3,9.556,3,12c0,2.444,0.01,2.751,0.054,3.711 c0.044,0.958,0.196,1.612,0.418,2.185c0.23,0.592,0.538,1.094,1.038,1.594c0.5,0.5,1.002,0.808,1.594,1.038 c0.572,0.222,1.227,0.375,2.185,0.418C9.249,20.99,9.556,21,12,21s2.751-0.01,3.711-0.054c0.958-0.044,1.612-0.196,2.185-0.418 c0.592-0.23,1.094-0.538,1.594-1.038c0.5-0.5,0.808-1.002,1.038-1.594c0.222-0.572,0.375-1.227,0.418-2.185 C20.99,14.751,21,14.444,21,12s-0.01-2.751-0.054-3.711c-0.044-0.958-0.196-1.612-0.418-2.185c-0.23-0.592-0.538-1.094-1.038-1.594 c-0.5-0.5-1.002-0.808-1.594-1.038c-0.572-0.222-1.227-0.375-2.185-0.418C14.751,3.01,14.444,3,12,3L12,3z M12,7.378 c-2.552,0-4.622,2.069-4.622,4.622S9.448,16.622,12,16.622s4.622-2.069,4.622-4.622S14.552,7.378,12,7.378z M12,15 c-1.657,0-3-1.343-3-3s1.343-3,3-3s3,1.343,3,3S13.657,15,12,15z M16.804,6.116c-0.596,0-1.08,0.484-1.08,1.08 s0.484,1.08,1.08,1.08c0.596,0,1.08-0.484,1.08-1.08S17.401,6.116,16.804,6.116z"></path>
                </svg>
                <span class="wp-block-social-link-label screen-reader-text">Instagram</span>
                </a>
            </li>
            <li class="wp-social-link wp-social-link-pinterest  wp-block-social-link">
                <a href="#" title="Pinterest" class="wp-block-social-link-anchor">
                <svg width="24" height="24" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
                    <path d="M12.289,2C6.617,2,3.606,5.648,3.606,9.622c0,1.846,1.025,4.146,2.666,4.878c0.25,0.111,0.381,0.063,0.439-0.169 c0.044-0.175,0.267-1.029,0.365-1.428c0.032-0.128,0.017-0.237-0.091-0.362C6.445,11.911,6.01,10.75,6.01,9.668 c0-2.777,2.194-5.464,5.933-5.464c3.23,0,5.49,2.108,5.49,5.122c0,3.407-1.794,5.768-4.13,5.768c-1.291,0-2.257-1.021-1.948-2.277 c0.372-1.495,1.089-3.112,1.089-4.191c0-0.967-0.542-1.775-1.663-1.775c-1.319,0-2.379,1.309-2.379,3.059 c0,1.115,0.394,1.869,0.394,1.869s-1.302,5.279-1.54,6.261c-0.405,1.666,0.053,4.368,0.094,4.604 c0.021,0.126,0.167,0.169,0.25,0.063c0.129-0.165,1.699-2.419,2.142-4.051c0.158-0.59,0.817-2.995,0.817-2.995 c0.43,0.784,1.681,1.446,3.013,1.446c3.963,0,6.822-3.494,6.822-7.833C20.394,5.112,16.849,2,12.289,2"></path>
                </svg>
                <span class="wp-block-social-link-label screen-reader-text">Pinteres</span>
                </a>
            </li>
            </ul>
        </div>
        </div>
    </div>
    <div class="widget block-4 widget_block">
        <div class="wp-block-group is-layout-constrained wp-block-group-is-layout-constrained">
        <div class="wp-block-group__inner-container">
            <h2 class="wp-block-heading">Articles en vedette</h2>
            <ul class="wp-block-latest-posts__list has-dates has-author is-style-cs-horizontal-layout wp-block-latest-posts">
                {% for item in favoritePosts %}
                    <li>
                        <div class="wp-block-latest-posts__featured-image alignleft">
                        <a href="{{ path('article_show', {slug: item.slug}) }}" aria-label="{{item.title}}">
                            <img loading="lazy" decoding="async" width="90" height="90" style="width: 90px; height: 90px; object-fit:cover;" src="{{item.featuredImage}}" class="attachment-thumbnail size-thumbnail wp-post-image" alt="Image de l'article" srcset="{{item.featuredImage}} 150w, {{item.featuredImage}} 148w, {{item.featuredImage}} 296w" sizes="(max-width: 150px) 100vw, 150px" />
                        </a>
                        </div>
                        <a class="wp-block-latest-posts__post-title" href="{{ path('article_show', {slug: item.slug}) }}">{{item.title}}</a>
                        <div class="wp-block-latest-posts__post-author">par <a href="https://swyft.codesupply.co/lifestyle/author/liam/">{{item.users.prenom}} {{item.users.nom}}</a>
                        </div>
                        <time datetime="{{ item.createdAt|date('d F Y') }}" class="wp-block-latest-posts__post-date">{{ item.createdAt|date('d F Y') }}</time>
                    </li>
                {% endfor %}
            </ul>
        </div>
        </div>
    </div>
    <div class="widget block-3 widget_block">
        <div class="wp-block-group is-style-default is-layout-constrained wp-block-group-is-layout-constrained">
        <div class="wp-block-group__inner-container">
            <h2 class="wp-block-heading is-style-default">Nos Catégories</h2>
            <ul class="wp-block-categories-list is-style-cs-tiles wp-block-categories">
                {% for item in categorieListWithCount %}
                    <li class="cat-item cat-item-{{ item.id }}">
                        <a href="{{ path('app_category', { slug: item.slug }) }}">{{ item.name }} <span>{{ item.postCount }}</span></a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        </div>
    </div>
    <div class="widget block-6 widget_block">
        <div class="wp-block-group is-style-cs-promo is-layout-constrained wp-block-group-is-layout-constrained">
        <div class="wp-block-group__inner-container">
            <div class="wp-block-cover is-light">
            <span aria-hidden="true" class="wp-block-cover__background has-background-dim"></span>
            <img loading="lazy" decoding="async" width="976" height="438" class="wp-block-cover__image-background wp-image-2328" alt="Subscribe to Our Newsletter" src="https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/10/demo-subscribe-0001.webp" data-object-fit="cover" srcset="https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/10/demo-subscribe-0001.webp 976w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/10/demo-subscribe-0001-300x135.webp 300w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/10/demo-subscribe-0001-768x345.webp 768w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/10/demo-subscribe-0001-512x230.webp 512w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/10/demo-subscribe-0001-920x413.webp 920w" sizes="(max-width: 976px) 100vw, 976px" />
            <div class="wp-block-cover__inner-container is-layout-constrained wp-block-cover-is-layout-constrained">
                <p class="has-large-font-size">Rejoignez nous. Explorons le web ensemble</p>
                <p>Souscrivez à notre Newsletter et faites parti des premiers à avoir accès à des contenus exclusif et à des avis d'experts.</p>
                <div class="wp-block-buttons is-layout-flex wp-block-buttons-is-layout-flex">
                <div class="wp-block-button">
                    <a class="wp-block-button__link wp-element-button" href="#">Souscrire</a>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    <div class="widget block-7 widget_block">
        <div class="wp-block-group is-layout-constrained wp-block-group-is-layout-constrained">
        <div class="wp-block-group__inner-container">
            <h2 class="wp-block-heading">Publicité Sponsorisée</h2>
            <a href="{{path('app_home')}}#contact">
                <figure class="wp-block-image size-full is-resized">
                <img loading="lazy" decoding="async" width="600" height="800" src="{{ asset('assets/images/sponsoredAds/sponsored_ad_1.gif')}}" alt="Image de Publicité" class="wp-image-2327" style="object-fit:cover;width:300px;height:400px" srcset="{{ asset('assets/images/sponsoredAds/sponsored_ad_1.gif')}} 600w, {{ asset('assets/images/sponsoredAds/sponsored_ad_1.gif')}} 225w, {{ asset('assets/images/sponsoredAds/sponsored_ad_1.gif')}} 512w" sizes="(max-width: 600px) 100vw, 600px" />
                </figure>
            </a>
        </div>
        </div>
    </div>
    </div>
</aside>