<!-- footer starts -->
<footer class="page-footer dark-footer-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="footer-widget widget-about">
                    <a href="index.html"><img class="footer-logo" src="assets/images/footer-logo.svg" alt="footer logo"
                            height="16"></a>
                    <p>Transformez votre présence en ligne avec des sites web rapides et des intégrations personnalisées afin d'atteindre enfin vos objectifs et d'aller chercher toujours plus loin.</p>
                    <!--<ul class="social-icons">
                        <li>
                            <a href="http://www.facebook.com/" target="_blank" rel="noopener">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="http://twitter.com/" target="_blank" rel="noopener">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="http://youtube.com/" target="_blank" rel="noopener">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                        <li>
                            <a href="http://plus.google.com/discover" target="_blank" rel="noopener">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                        </li>
                    </ul>-->
                    <!-- End of .social-icons -->
                    <p class="copywrite-txt">© 2020 <a>SnapCode™ - Corp</a>. All Rights
                        Reserved.</p>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="footer-widget">
                    <h5 class="footer-nav-title">Services</h5>
                    <ul class="footer-nav dynamic-nav">
                        <li><a href="html-integrator.html">Intégration HTML</a></li>
                        <li><a href="mobile-app-development.html">Développement de site web personnalisé</a></li>

                    </ul>
                </div>
            </div>
            <!-- End of .col-lg-2 -->

            <div class="col-lg-3">
                <div class="footer-widget">
                    <h5 class="footer-nav-title">Support</h5>
                    <ul class="footer-nav dynamic-nav">
                        <li><a href="{{path('app_contact')}}">Contact</a></li>
                        <li><a href="#">Politique de vie privée</a></li>
                        <li><a href="#">Termes &amp; Conditions</a></li>
                    </ul>
                </div>
            </div>
            <!-- End of .col-lg-2 -->

            <div class="col-lg-2">
                <div class="footer-widget">
                    <h5 class="footer-nav-title">Resources</h5>
                    <ul class="footer-nav dynamic-nav">
                        <li><a href="{{path('portfolio')}}">Portfolio</a></li>
                        <li><a href="{{path('team')}}">Notre équipe</a></li>
                        <li><a href="{{path('pricing')}}">Nos tarifs</a></li>
                        <!--<li><a href="case-studies.html">Etude de cas</a></li>-->
                        <li><a href="{{path('about')}}">A propos</a></li>
                        <!--<li><a href="news.html">Les nouvelles</a></li>-->
                    </ul>
                </div>
            </div>
            <!-- End of .col-lg-2 -->
        </div>
        <!-- End of .row -->
    </div>
    <!-- End of .container -->
</footer>
<!-- End of .page-footer -->